body{
    background-color:#FFFFFF;
}
nav{
    text-align: center;
    font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16px;
    
}
#footerbottom{
    margin-bottom: auto;
    text-align: center;
    
}
#hr{
    width:60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#hr1{
    width:60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#container{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    }
#navigation{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
#containeroffooternav{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
#navigation{
    margin-left: auto;
    margin-right: auto;
}
#containeroffooter{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
#containerofbody{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}
img{
    max-width: 100%;
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#h4{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.responsive{
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width:338px){
    #navigationII{
        display: none;
    }
}
@media only screen and (max-width:339px){
    #navigation{
        display: none;
    }
    #containeroffooternav{
        display: none;
    }
    nav{
        font-size: 19px;
    }
}
@media only screen and (max-width: 830px) {
    nav{
        font-size: 18px;
    }
    #footerbottom{
        font-size: 17px;
    }
    tr{
        font-size: 18px;
    }
    td{
        font-size: 17px;
    }
    body{
        background-color: #DCDCDC;
    }
}
@media only screen and (max-width:1400px){
    #hr{
        width:80%;
    }
    #hr1{
        width:80%;
    }
}
@media only screen and (min-width:338px){
    #containeroffooternavII{
       display: none; 
    }
}

.table{
    width:100%;
}
#login{
    width: 50%;
    margin-left:auto;
    margin-right: auto; 
}
@media only screen and (min-width:700px){
    #login{
    width: 45%;
    margin-left:auto;
    margin-right: auto; 
}
}
@media only screen and (max-width: 900px) and (min-width: 701px){
        #loginI{
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }   
@media only screen and (max-width: 1440px) and (min-width: 901px){
        #loginII{
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }
    }   
@media only screen and (max-width: 2560px) and (min-width: 1441px){
        #loginIII{
            width: 25%;
            margin-left: auto;
            margin-right: auto;
        }
    } 
    



